#! /bin/sh
### BEGIN INIT INFO
# Provides:          ucome
# Required-Start:
# Required-Stop:
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: icome version 7 server
# Description:       provide mongodb interface via druby connection.
### END INIT INFO
#
# Author: Hiroshi Kimura <hiroshi.kimura.0331@gmail.com>

USER="hkim"
CMD="/srv/icome8/bin/ucome.rb"

usage() {
    echo "Usage: $0 {start|stop}"
}

case "$1" in
    start)
        start-stop-daemon --start --chuid $USER --background \
            --exec ${CMD} || true
        ;;
    stop)
        kill `ps ax | grep [u]come.rb | awk '{print $1}'`
        ;;
    *)
        usage
        ;;
esac
